# Godot 4+ specific ignores
.godot/
/android/

*.import
*.uid

# Godot-specific
.import/
export.cfg
export_presets.cfg

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
*.tmp
*.log

# Godot build files
*.pck
*.exe
*.apk
*.aab
*.zip
*.xcodeproj

